.bot {
  padding: 10px;
  margin-top: 10px;
  /* border: 1px solid white; */
  /* border-bottom: 1px solid white; */
  border-radius: 5px;
  text-align: left;
  transition: ease 0.25s all;
  color: #316EF1;
  cursor: pointer;
  list-style: none;
}
.bot:hover {
    background-color: rgba(49, 110, 241, 0.158);
}

.bot span {
  padding-left: 6px;
  padding-right: 12px;
}

