:root {
  --login-bg: #f5f6f8;
  --light-indigo: #727aa1;
  --mid-indigo: #707fcc;
  --dull-indigo: #37458c;
  --indigo: #707fcc;
  --mustard: #ebaf2c;
  --ogp-blue: #316EF1;
  --grey: #545454;
}

.login {
  display: flex;
  /*background-color: var(--login-bg);*/
  background-image: url("../assets/login-bg-2.png");
  position: fixed;
  min-height: 100%;
  min-width: 100%;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}

login-bg-image {
  z-index: -1;
}
.login-card {
  position: relative;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0,0,0,0.25);
  background-color: rgba(5, 4, 4, 0.698);
  border-radius: 14px;
  width: 640px;
  margin-left: auto;
  margin-right: auto;
}

.button-sgid {
  font-size: 16px;
  border-radius: 15px;
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px;
    width: 92%;
    background-color: var(--mid-indigo);
    color: #FFFFFF;
    border-color: transparent;
}

.button {
  font-size: 16px;
  border-radius: 15px;
  background-color: var(--mustard);
  border-color: transparent;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 8px;
    width: 30%;
    min-width: 180px;
}

.button-sgid:hover {
  background-color: transparent;
  color: var(--mid-indigo);
  border-color: var(--mid-indigo);
  border-width: 1px;
}

.button:hover {
  background-color: transparent;
  color: var(--mustard);
  border-color: var(--mustard);
  border-width: 1px;
}

.float-container {
  /* border: 3px solid #fff; */
  padding: 20px;
  height: 100%;
  /* display: flex;
    justify-content: center;
    align-items: center; */
}

.float-child {
  width: 50%;
  float: left;
  padding: 20px;
  /* border: 2px solid red; */
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
